<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>vip</title>
</head>

<body>
    <div class="login">
        <h1>vip</h1>
        <span>
            <a th:if="${session.loginUser == null}" href="http://localhost:9000/view/login?target=http://localhost:9011/view/index">登陆</a>
            <a th:unless="${session.loginUser == null}" href="#">退出</a>
        </span>
        <p th:unless="${session.loginUser == null}">
            <span style="color: rgb(43, 226, 52);" th:text="${session.loginUser.username}"></span>已登录
        </p>
    </div>
</body>

</html>